<ac-layer acFor="let polygon of polygons$" [context]="this" [show]="polygonsShow">
  <ac-polygon-desc props="{
    hierarchy: polygon.hierarchy,
    material: polygon.material,
    height: polygon.height,
    outline: polygon.outline,
    outlineColor: polygon.outlineColor,
    extrudedHeight: polygon.extrudedHeight,
    perPositionHeight: polygon.perPositionHeight,
    show: polygon.show,
    fill: polygon.fill,
    outlineWidth: polygon.outlineWidth,
    zIndex: polygon.zIndex
    }">
  </ac-polygon-desc>
</ac-layer>

<div class="content-menu" id="content-menu">
  <h3 routerLink='/' (click)="resetViewer()" style="text-align: center; cursor: pointer;">{{currentExtent.name}}</h3>
  
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node  *matTreeNodeDef="let node;"  matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox  *ngIf="isRasterSubDataset(node)" class="checklist-leaf-node"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
      <div *ngIf="!isRasterSubDataset(node)" class="checklist-leaf-node" style="border-bottom: solid; border-color: black;">
        <h4>{{node.item}}</h4>
        <ul>
          <li>Lod Range: {{node.lod_range}}</li>
          <li>Features Count: {{node.features_count}}</li>
        </ul>    
      </div>  
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild;" matTreeNodePadding>
      <button  mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>

      <mat-checkbox  [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node)">{{node.item}}
      <div style="font-size: 10px;" *ngIf="!isRasterDataset(node)">Total Feature Count: {{node.features_count}}</div>
      </mat-checkbox>
    </mat-tree-node>
  </mat-tree> 
</div>