.grid-container {
    display: grid;
    grid-template-columns: auto 80% ;

}

.color-dark {
    background: rgb(60, 62, 63);
}

h4{
    background: rgb(38, 54, 63);
    text-align: center;
    margin: auto auto auto auto;
}



