<ac-layer  acFor="let html of htmls$" [context]="this">
    <ac-html-desc props="{position: html.position, show: html.show}">
      <ng-template let-html>
        <div class="contianer">
          <button routerLink='/{{html.name}}' (click)="removeButtons(html.name)">{{html.name}}</button>
        </div>
      </ng-template>
    </ac-html-desc>
</ac-layer>

<div class="content-menu" id="content-menu" style="height: 100%;" #contentMenu>
    <ul>
      <li *ngFor="let cdb of extents" routerLink='/{{cdb.name}}' (click)="removeButtons(cdb.name)" class="list-item">{{cdb.name}}</li>
    </ul>
</div> 