.remove-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  margin: 5px;
}

.contianer {
  display: flex;
  font-family: sans-serif;
  color: orange;
  width: 225px;
  font-size: 24px;;
  font-weight: bold;

  
}
.contianer button {
  margin-left: 10px
}