.content-menu {
  position: absolute;
  z-index: 2;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: auto;
  max-height: 500px;
  overflow: auto;
  color: white;
}

.list-item{
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  list-style: none;
}

.list-item:hover{
  color:green;
}

.contianer {
  display: flex;
  font-family: sans-serif;
  color: orange;
  width: 225px;
  font-size: 24px;;
  font-weight: bold;

  
}
.contianer button {
  margin-left: 10px
}